/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    url("fonts/roboto-regular.woff2") format('woff2'), /* Super Modern Browsers */
    url("fonts/roboto-regular.woff") format('woff'), /* Modern Browsers */
}

/* roboto-med */

@font-face {
  font-family: "Roboto-med";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Roboto-med"),
    url("fonts/roboto-med.woff2") format('woff2'), /* Super Modern Browsers */
    url("fonts/roboto-med.woff") format('woff'), /* Modern Browsers */
}

/* Global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #768298;
}

/* Container */

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

/* Main */

.page-header {
  margin-bottom: 70px;
}

.navigation {
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
}

.navigation::after {
  content: "";
  position: absolute;
  border: 1px solid #ebebf1;
  left: 0;
  right: 0;
  width: 100%;
}

.navigation__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.navigation__input-wrapper {
  position: relative;
  flex-grow: 1;
}

.navigation__input-wrapper-mobile {
  display: none;
}

.navigation__inner,
.navigation__information {
  display: flex;
  align-items: center;
}

.navigation__information {
  position: relative;
}

.navigation__information::before {
  content: "";
  height: 80px;
  position: absolute;
  border: 1px solid #ebebf1;
  left: -20px;
}

.navigation__button {
  display: none;
}

.navigation__input {
  width: 92%;
  min-height: 40px;
  padding-left: 47px;
  border-radius: 8px;
  background-color: #fafafa;
  border: 1px solid rgba(52, 125, 184, 0.15);
  flex-grow: 1;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
}

.navigation__mobile {
  max-height: 30px;
  position: relative;
  padding-right: 50px;
}

.navigation__image {
  width: 135px;
  height: 30px;
}

.navigation__avatar {
  width: 40px;
  height: 40px;
}

.navigation__text {
  margin: 0;
  padding-right: 10px;
}

.navigation__svg {
  position: absolute;
  top: 7px;
  left: 16px;
}

.catalog {
  margin-bottom: 392px;
}

.catalog__inner {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  font-size: 36px;
  text-transform: uppercase;
  color: #121920;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  min-width: 270px;
  max-height: 120px;
  padding: 18px 28px;
  border: 1px solid #ebebf1;
  margin-bottom: 30px;
  border-radius: 5px;
}

.catalog__item img {
  max-width: 212px;
  max-height: 64px;
}

.catalog__item:not(:nth-child(4n+4)) {
  margin-right: 30px;
}

.catalog__item:hover,
.catalog__item:focus {
  box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
}

@media (max-width: 1230px) {
  .navigation__information {
    flex-direction: column-reverse;
  }

  .navigation__information::before {
    height: 102px;
    left: -10px;
    top: -20px;
  }

  .navigation__inner::before {
    top: 38px;
    left: 270px;
  }

  .catalog__item:not(:nth-child(4n+4)) {
    margin-right: 0;
  }

  .catalog__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
}

@media (max-width: 1023px) {
  .catalog {
    margin-bottom: 399px;
  }

  .catalog__item {
    min-width: 229px;
    margin-bottom: 20px;
    padding: 15px;
  }

  .catalog__title {
    font-size: 28px;
  }

  .catalog__item img {
    max-width: 197px;
    max-height: 90px;
  }

  .catalog__item:not(:nth-child(3n+3)) {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .navigation__information {
    display: none;
  }

  .navigation__button {
    display: block;
    border: none;
    background-color: transparent;
  }

  .navigation__inner {
    flex-direction: column;
    align-items: unset;
    padding: 16px 21px;
  }

  .navigation__mobile {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }

  .navigation__input-wrapper {
    display: none;
  }

  .navigation__input-wrapper-mobile {
    display: block;
    position: relative;
  }

  .navigation__svg-mobile {
    position: absolute;
    top: 7px;
    left: 16px;
  }

  .navigation__input-mobile {
    min-height: 40px;
    padding-left: 47px;
    background-color: #fafafa;
    border: 1px solid rgba(52, 125, 184, 0.15);
    flex-grow: 1;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 400;
    width: 100%;
    border-right: none;
    border-left: none;
  }

  .catalog {
    margin-bottom: 73px;
  }

  .catalog__item {
    min-width: 335px;
    max-height: 140px;
    margin-bottom: 20px;
    padding: 25px;
  }

  .catalog__item img {
    max-width: 285px;
  }

  .catalog__item:not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .catalog__item:not(:nth-child(2n+2)) {
    margin-right: 30px;
  }
}
